body{
    margin: 0;
    font-family: Montserrat;
}


header{
    background-color: #9b009d;
    display: flex;
    align-items: center;
}
.imgH{
    width: 35px;
    height: 35px;
}
.form{
    justify-content: center;
    margin-left: 400px;
    align-content: center;
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.166);
    }

input[value="S'INSCRIRE"]{
    background-color: #00e174;
    border: solid 0;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.465);

}
label[for="form"]{
    color: rgba(211, 211, 211, 0.547);
    font-size: small;

}
.liste{
    display: flex;
    gap: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.166);
    padding-left: 120px;
    border-right: 1px solid rgba(0, 0, 0, 0.166);
    padding-right: 80px;
    align-items: center;
    text-decoration: none;
    
}
.testez{
    align-items: center;
    display: flex;
    margin-right: 30px;
    
}

.imgN{
    width: 180px;
    height: 90px;
    margin-left: 60px;
}

.h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.hr1{
   height: 1px;
    background-color: purple;
}



.section2, .section3{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1rem;
    
}
ul li::marker {
    color: purple;
    
}
li{
    padding: 10px;
}
.text{
    color: rgba(0, 0, 0, 0.615);
}

footer{
    background-color: #363636;
    
}
footer>div{
    display: flex;
}

.footerRS{
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.divlogoF{
    align-content: center;
    justify-content: center;
    width: 120px;
    height: 60px;

}
.footerRSL{
    border-radius: 1px solid white;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 50% solid white;
    border-radius: 50%;
}

.hr2{
   color: rgba(255, 255, 255, 0.067);

}
.textN{
    text-decoration: none;
    color: black;
}

.section3{
    padding-bottom: 30px;
}
.divCR{
    justify-content: center;
    align-items: center;
    color: gray;
}
